.black-background {
    background-color: black;
    color: white;
  }
  .registration-form-background {
    --ion-background-color: rgb(233, 240, 247);
    --ion-text-color: rgb(17, 15, 15);
  }
  .custom-card {
    background-color: rgb(221, 235, 236);
    color: white;
  }